/backend/node_modules
/backend/.env
/backend/dist

# dependencies
/client/node_modules
/client/.pnp
/client/.pnp.js



# next.js
/client/.next/
/client/out/

# production
/client/build

# misc
.DS_Store
/client/*.pem

# debug
/client/npm-debug.log*

# local env files
/client/.env
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local

# vercel
/client/.vercel
